body{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #f2f2f2;
}
#container {
	width: 85%;	/*720px*/
	margin: 0 auto;
	background: #fff;
	min-width: 820px;
	max-width: 1280px;
}
#marca {
	width: 100%; 	/*não tinha no fixo*/
	height: 200px; 	/*altura di fundo*/
	background: #225992 url(imagens/cabecalho2.jpg) no-repeat center;/* combinar uma imagem com a cor de fundo da efeito de diminuição das laterais*/
	text-align: center;
	line-height: 200px;	/*altura do texto*/}

#conteudo {
	width: 75%;	 /*520px*/
	float: right;
}
#conteudo_principal{
	width: 64%;	/*320px*/
	float: left;
}
img.img_noticia{
	width: 96%;
	padding: 2%;
}
#conteudo_secundario{
	width: 35%;	/*180px*/
	float: right;
	background: #d1d1d1;
}
#conteudo_secundario h1, 
#conteudo_secundario h2,
#conteudo_secundario h3,
#conteudo_secundario p{
	padding-left: 20px;
	padding-right: 20px;
}
#navegacao {
	width: 23%;	/*180px*/
	float: left;
	padding-top: 20px;
	padding-bottom: 20px;
	background: #d1d1d1;
}
#navegacao ul {
	list-style: none;
}
#navegacao li a {
	text-decoration: none;
}
#rodape {
	clear: both;
	background: #c4c4c4;
	padding: 5px;
}