#container{
	border: 1px solid red;

}
div{
	border: 1px solid red;
}
#container{
	width: 960px;
	height: 960px;
	margin: 10px;
	margin-left: 180px;
	padding: 5px;
	float: block;
}
#layout{width: 940px;
	height: 150px;
	margin-left: 4px;
	padding: 5px;
	float: block;
	clear: both;}
#menu_sup{float: right;
	width: 640px;
	height: 30px;
	margin: 10px;
	padding: 5px;
	padding-left: 50px;
}
#logo_sup{width: 100px;
	float: left;
	height: 100px;
	margin: 10px;
	padding: 5px;}
.colunas{
	width: 280px;
	height: 400px;
	margin: 5px;
	margin-left: 20px;
	padding: 5px;
	float: left;
}

.noticias{
	height: 100px;
	margin: 10px;
	padding-bottom: 15px;
}

.fotos{
	width: 125px;
	height: 60px;
	margin: 6px;
	float: left;
}
.foto1{
	height: 175px;
}
#direitos{
	height: 50px;
	clear: both;
}
	.clear{
		clear: both;
	}