@keyframes animacao_caixa{
    from{
        background: rgb(88, 88, 88);
        border-radius: 0px;
        top: 0;
        left: 0;
    }
    to{
        background: #000;
        border-radius: 100%;
        top: 200px;
        left: 200px;
    }
}
@-moz-keyframes animacao_caixa{
    from{
        background: rgb(88, 88, 88);
    }
    to{
        background: #000;
    }
}
@-webkit-keyframes animacao_caixa{
    from{
        background: rgb(88, 88, 88);
    }
    to{
        background: #000;
    }
}
@-o-keyframes animacao_caixa{
    from{
        background: rgb(88, 88, 88);
    }
    to{
        background: #000;
    }
}
#caixa{
    width: 300px;
    height: 300px;
    background: rgb(255, 251, 255);
    position: relative;/* para movimentar pelo site a animação*/
   /* 
    animation-name: animacao_caixa;
    -moz-animation-name: animacao_caixa;
    -o-animation-name: animacao_caixa;
    -webkit-animation: animacao_caixa;
    animation-duration: 1s;
    animation-delay: 0.3s;/*vai esperar 3s
    animation-iteration-count: infinite;
    animation-direction: alternate;*/
    -moz-animation: animacao_caixa 1s 0.3s infinite alternate;
    -o-animation: animacao_caixa 1s 0.3s infinite alternate;
    -webkit-animation: animacao_caixa 1s 0.3s infinite alternate;
    -o-animation: animacao_caixa 1s 0.3s infinite alternate;
}