
body{
    width: 100%;
}
.imagem{
    width: 2400px;
    height: 400px;
    background-image: url(desenho-de-montanha.jpg);
    z-index: 1;
    position: absolute;
    opacity: 0.4;
}
#img{
    width: 2550px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    opacity: 0.8;
}
ul{
    list-style: none;
}
li{
    width: 450px;
    float: left;
    margin-left: 150px ;
    
}

