/****seletor universal ****/
*{
   /*border: 1px solid red;*/
}




    /***seletor de texto****/
h1 {
   color: green;
}





    /***seletor de classe****/
.verde {
   color: green;
}
p.verde{
   color: yellow;
}



   /****seletor ID****/
#cabecalho {
   border: 1px solid blue;
}




   /****seletor de filho****/
li>a{
   color: red;
   text-decoration: none;
}


   /****seletor descendente****/
p a{
   color: orange;
}


/****seletor de irmão adjacente***(fica o primeiro paragrafo)*/
h1+p{ 
    color: violet; 
}


/***seletor de irmão geral*** (fica todos os parafos abaixo de h1 */
h1~p{
    color: violet;
}
