body{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #f2f2f2;
	margin: 0;
}

ul li{
	float: left;
	background: #orange;
}
ul a:hover{
	color: #894a1f;
	width: 20%;/*720px*/
	margin: 0 auto;
	background: green;
}
#marca {
	margin: 0 auto;
	width: 95%;/*não tinha no fixo*/
	height: 100px;
	background: #9e9e9e;
	text-align: center;
	line-height: 100px;
}
#conteudo {
	width: 95%; /*520px*/
}
#conteudo_principal{
	width: 95%;/*320px*/
}
#conteudo_secundario{
	width: 95%;/*180px*/
	background: #d1d1d1;
}
#conteudo_secundario h1, 
#conteudo_secundario h2,
#conteudo_secundario h3,
#conteudo_secundario p{
	padding-left: 20px;
	padding-right: 20px;
}
#navegacao {
	width: 95%;/*180px*/
	background: #d1d1d1;	
}
#navegacao ul {
	list-style: none;
}
#navegacao li a {
	display: block;
	padding: 0 2em;
	line-height: 3em;
	text-decoration: none;
	background:  orangered;
	color: #fff;

}
#rodape {
	clear: both;
	background: #c4c4c4;
	padding: 5px;
}