/* configurações gerais*/
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Helvetica, "Trebuchet MS", sans-serif;
    background: #fff url(imagens/bg.png);
    margin: 15px;
}
a{
    text-decoration: none;
}
ul{
   margin: 0; /*não precisaria pois esta configurado em *{}, idem para padding*/
   padding: 0;
   list-style: none;/* none tira as bolinhas*/ 
}
h2{
    color: #7d7640;
    font-size: 1.1em;
    padding: 5px;
}
p{
    font-size: 1em;
    padding-bottom: 10px;
    text-align: justify;
    text-indent: 30px;/*espaçamento da primeira linha*/
    margin: 0;
}
/*fim configurações gerais*/
/* inicio - configuração da pagina*/
#container{
   background: #ede9cc url(imagens/bg-container.png) top center repeat-y;
   margin: 0 auto;
   min-width: 740px;
   max-width: 1180px;
}
/* fim - configuração da pagina*/
/* inicio - configurações topo*/
#fumaca{/*efeito de exercicio*/
    position: absolute;
    width: 250px;/* px da impressão de sobrepor a logo em %*/
    height: 250px;
    top: 0; /*com a position absolute fica la em cima***/
    right: 0;/*canto esquerdo*/
    z-index: 2;
    background-image: linear-gradient(to right , rgba(255,0,0,0), rgba(219,205,135,1));
    margin-right: 360px;
}
#topo{
    position: relative;
    background: #dbcd87;
    height: 15.4em;
    min-height: 250px;
}
#area_logo{
    position: absolute;/* absolute fica por cima do relative*//*definir a position com top e left,etc*/
    background: url(imagens/topo-imagem-principal.png) no-repeat;
    width: 100%;/*se adapta ao tamanho*/
    height: 250px;
    top: 0; /*com a position absolute fica la em cima***/
    left: 0;/*canto esquerdo*/
    z-index: 1;/*a imgagem fica por baixo da da 2*/
}
.logo a{
position: absolute;
top: 15px;
left: 15;
z-index: 3;
background: url(imagens/logo.png) no-repeat;
width: 151px;
height: 66px;
text-indent: -9000px;
}
#area_menu{
    position: absolute;
    background: url(imagens/topo-imagem-lateral.png) no-repeat;
    width: 450px;/* px da impressão de sobrepor a logo em %*/
    height: 250px;
    top: 0; /*com a position absolute fica la em cima***/
    right: 0;/*canto esquerdo*/
    z-index: 3;
}
#conteudo_menu{
    margin-left: 90px;
    margin-right: 15px;
    padding-top: 15px;
}
#menu_locais{
    border-top: 1px solid #b5ab56;
    border-bottom: 1px solid #b5ab56;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 0.7em;
    color: #8b8448;
}
#menu_locais .locais{ /*A id recebe a classe*/
   float: left;
   line-height: 2.1em; 
}
a.reserva{ /*aplica em todos os links que tem a classe reserva*/ 
    text-transform: uppercase;
    background: #a29750;
    color: #fff5b0;
    padding: 5px 10px;
    float: right;
}
/* inicio - barra de navegação vertical - topo*/
#menu{
    margin-top: 15px;
}

ul#navegacao{/* a ul recebe a id*/
    float: left;
}
ul#navegacao a{
    text-transform: uppercase;
    font-size: 0.8em;
    padding: 5px;
    color: #6e672c;
    line-height: 30px;/*mas poderia ser padding ou margin*/
}
ul#navegacao a:hover{
    background: #fdf6be;
    /*display: block; para selecionar todo o bloco*/
}
.depoimento{
    width: 226px; /*largura e altura da imagem*/
    height:164px;
    float: right;
}
/* fim - barra de navegação vertical - topo*/
/* fim - configurações topo*/
/* inicio - configuração conteúdo*/
#area_principal{
    float: left;
    width: 50%;
    background: url(imagens/bg-area-principal.png) top left repeat-x;
}
#area_lateral{
    float: right;
    width: 50%;
    background: url(imagens/bg-area-lateral.png) top left repeat-x;
    padding: 20px 0px;
}
.conteudo{ /*facilita o aumento das divs das id's acima*/
    margin: 15px auto;
    width: 90%;
}
/* inicio configuração da área lateral*/
#beneficios li{
    padding: 8px;
    border-bottom: 1px solid #f3efcb;
    height: 6em;
}
#beneficios li a img{
    float: left;
    margin-right: 8px;
}
#beneficios li a p{
    font-size: 0.8em;
    color: #3b3504;
}
#beneficios li a h3{
    font-size: 1em;
    color: #615b2d;
    padding: 5px 0;
    background: url(imagens/ornamento.png) no-repeat center right;
}
#beneficios li:hover{
    background: #f6f3d6;
    cursor: pointer;
}
/* fim configuração da área lateral*/

#rodape{
    clear: both;
    padding: 16px;
    background: #fff url(imagens/bg-rodape.png) repeat-x top;
    color: #7d7640;
}
/* fim - configuração conteúdo*/
