header{
    border: 1px solid red;
    background: #ccc;
    padding: 10px;
}
nav{
    border: 1px solid green;
    background: rgb(238, 51, 229);
    padding: 10px; 
}
footer{
    background: rgb(90, 86, 86);
}
article{
    background: orangered;
    padding: 15px;
}
section{ 
    border: 1px solid blue;
}
span{
    font-size: 12px;
    color: crimson;
    background: white;
}
time{
    font-size: 15px;
    color: #000;
}
aside{
    background: wheat;
}