
#container{
    width: 100%;
    height: 450px;
}
#caixa{
    width: 450px;
    height: 450px;
    margin-left: 25%;
    background: url("https://thumbs.dreamstime.com/b/fundo-verde-da-parede-de-tijolo-51833921.jpg") top center;
    box-shadow: -35px 18px 3px 0.5px/*tamanho da sombra*/ rgba(0, 0, 0, 1);
    border-radius: 100%;
    opacity: 0.8;
    position: absolute;
}
#caixa1{
    width: 220px;
    margin: 0 auto;
}
#caixa1 h1{
    color: rgb(201, 196, 196);
    text-shadow: -5px /*horizontal*/ 8px 0.5px/*contraste*/ rgba(0, 0, 0, 1);/*cor pode ser hexa, rgb, rbga*/
    text-align: center;
    margin-top: 10px;
    margin-right: 10px;
    font-size: 3em;
    position: relative;
}
#caixa1 p{
    color: seashell;
    text-shadow: 0 0 10px #b9f7c5, 0 0 10px #1c7705;/*gradiente na sombra*/
    text-align: center;
    font-size: 2.5em;
    margin-top: -20px;
    margin-left: -15px;
    position: relative;
}
#caixa1{
    width: 220px;
    margin: 0 auto;
}