#conteudo{
    background: #dcdcdc;
    height: 400px;
    display: flex;/*faz os itens ficar um do lado do outro, mas tb ignora a margin*/
    /*flex-direction: row ;row (coluna)| row-reverse (canto direito) | column | column-reverse*/
    flex-direction: row;
    flex-wrap: nowrap ;/*quebra de layout's: nowrap (não deixa quebrar) | wrap | wrap-reverse faz os blocos internos se adaptarem ao tamanho do container*/
    justify-content: center ;/* coloca os blocos em determinadas posições do container: flex-start | flex-end | center | space-between (cola no canto)| space-around*/
    align-items: center ;/* stretch (padrão - de acordo com a altura do container)| center | flex-star | flex-end | baseline (alinha pelo conteudo em geral, um padding fica fora do padrão */
}

.item{
    width: 100px;
    height: 100px;
    background: white;
    margin: 10px;/*display block ignora a margin*/
}
